doctype html
html(lang="en")
  head
    title Yeezy
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Yeezy logo font")
    meta(name="keywords", content="Yeezy logo font")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="#635E5A")
    link(rel="shortcut icon" href="assets/img/yeezy.png")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    main
      h1 Using the Yeezy logo font on your website
      h1.logo Yeezy
      p all you have to do is copy the snippet below to import the font into your project
      code @import url(http://mcansh.github.io/yeezy-logo-font/assets/css/font.css);
    footer
      a(href="http://github.com/mcansh/yeezy-logo-font") View project on GitHub
      
